[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = joshua
	email = 29579893+jototo@users.noreply.github.com
[core]
	autocrlf = input
[credential]
	helper = osxkeychain